.works-container
  .works-list.row.flex-wrap
    .work-project.col-sm-12.col-md-6.col-lg-4.col-xl-3
      .project-container
        .image.embed-responsive.embed-responsive-16by9
          img(src=require("../../images/works/thumb/arnel-hasanovic-375269-unsplash.jpg"))
        .work-description
          .title Work №1
    .work-project.col-sm-12.col-md-6.col-lg-4.col-xl-3
      .project-container
        .image.embed-responsive.embed-responsive-16by9
          img(src=require("../../images/works/thumb/branko-stancevic-417172-unsplash.jpg"))
        .work-description
          .title Work №1
    .work-project.col-sm-12.col-md-6.col-lg-4.col-xl-3
      .project-container
        .image.embed-responsive.embed-responsive-16by9
          img(src=require("../../images/works/thumb/edho-pratama-152392-unsplash.jpg"))
        .work-description
          .title Work №1
    .work-project.col-sm-12.col-md-6.col-lg-4.col-xl-3
      .project-container
        .image.embed-responsive.embed-responsive-16by9
          img(src=require("../../images/works/thumb/fabian-grohs-360566-unsplash.jpg"))
        .work-description
          .title Work №1
    .work-project.col-sm-12.col-md-6.col-lg-4.col-xl-3
      .project-container
        .image.embed-responsive.embed-responsive-16by9
          img(src=require("../../images/works/thumb/igor-miske-174209-unsplash.jpg"))
        .work-description
          .title Work №1
    .work-project.col-sm-12.col-md-6.col-lg-4.col-xl-3
      .project-container
        .image.embed-responsive.embed-responsive-16by9
          img(src=require("../../images/works/thumb/ilya-pavlov-87438-unsplash.jpg"))
        .work-description
          .title Work №1
    .work-project.col-sm-12.col-md-6.col-lg-4.col-xl-3
      .project-container
        .image.embed-responsive.embed-responsive-16by9
          img(src=require("../../images/works/thumb/le-buzz-568441-unsplash.jpg"))
        .work-description
          .title Work №1
    .work-project.col-sm-12.col-md-6.col-lg-4.col-xl-3
      .project-container
        .image.embed-responsive.embed-responsive-16by9
          img(src=require("../../images/works/thumb/le-buzz-568591-unsplash.jpg"))
        .work-description
          .title Work №1
    .work-project.col-sm-12.col-md-6.col-lg-4.col-xl-3
      .project-container
        .image.embed-responsive.embed-responsive-16by9
          img(src=require("../../images/works/thumb/lee-campbell-106610-unsplash.jpg"))
        .work-description
          .title Work №1
    .work-project.col-sm-12.col-md-6.col-lg-4.col-xl-3
      .project-container
        .image.embed-responsive.embed-responsive-16by9
          img(src=require("../../images/works/thumb/igor-ovsyannykov-329196-unsplash.jpg"))
        .work-description
          .title Work №1
    .work-project.col-sm-12.col-md-6.col-lg-4.col-xl-3
      .project-container
        .image.embed-responsive.embed-responsive-16by9
          img(src=require("../../images/works/thumb/luca-bravo-217276-unsplash.jpg"))
        .work-description
          .title Work №1
    .work-project.col-sm-12.col-md-6.col-lg-4.col-xl-3
      .project-container
        .image.embed-responsive.embed-responsive-16by9
          img(src=require("../../images/works/thumb/neonbrand-226736-unsplash.jpg"))
        .work-description
          .title Work №1
    .work-project.col-sm-12.col-md-6.col-lg-4.col-xl-3
      .project-container
        .image.embed-responsive.embed-responsive-16by9
          img(src=require("../../images/works/thumb/thomas-william-304054-unsplash.jpg"))
        .work-description
          .title Work №1
    .work-project.col-sm-12.col-md-6.col-lg-4.col-xl-3
      .project-container
        .image.embed-responsive.embed-responsive-16by9
          img(src=require("../../images/works/thumb/thought-catalog-354861-unsplash.jpg"))
        .work-description
          .title Work №1